/* ---| Corpo do site |--- */
body {
  background-color: #ffe4c4;
  display: flex;
  justify-content: center;
  align-items: center;
  min-height: 100vh;
  margin: 0;
  font-family: Arial, Helvetica, sans-serif;
}

/* ---| NAV |--- */
.underline-nav a {
  position: relative;
  color: #eee;
  text-decoration: none;
  font-size: 18px;
  padding: 10px 0;
  transition: .5s ease;
}

underline-nav {
  display: flex;
  gap: 30px;
}

.underline-nav a:hover {
  color: #34e7e4;
}

.underline-nav a::after {
  content: '';
  position: absolute;
  bottom: 0;
  left: 0;
  width: 0;
  height: 3px;
  background-color: #34e7e4;
  transition: width 0.3s ease;
}

.underline-nav a:hover::after {
  width: 100%;
}